.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 50px 0;


    .logo {
        display: block;
        width: 185px;
        height: 41px;
        float: left;
    }

    .footer-text {
        display: block;
        font-size: 20px;
        font-weight: 400;
    }

    .footer-colum {
        font-size: 20px;
        font-weight: 700;
        text-align: right;
    }

}